<div class="card" style="width: 18rem">
  <img
    src="assets/images/{{ cv?.path | defaultImage }}"
    alt="{{ cv?.firstname }}"
  />
  <div class="card-body">
    <h5 class="card-title">firstname : {{ cv?.firstname }}</h5>
    <h5 class="card-title">last name : {{ cv?.name }}</h5>
    <h5 class="card-title">age : {{ cv?.age }}</h5>
    <h5 class="card-title">job : {{ cv?.job }}</h5>
    <a class="btn btn-primary" [routerLink]="['']">return</a>
    <a class="btn btn-primary" (click)="deleteCv()" [routerLink]="['']"
      >delete</a
    >
  </div>
</div>
